* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: var(--beige-claire);
    color: var(--marron-fonce);
    
    font-family: var(--font-corps);
    font-size: var(--corps);
    line-height: 1.5;
    font-weight: 400;
    
    margin: 0;
    padding: 0;
    width: 100%;
}

h1, h2, h3, h4 {
    color: var(--marron-fonce);
    margin-top: 0;
    text-transform: uppercase;
}

h1 {
    font-family: var(--font-titre);
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: var(--space-lg);
    text-align: center;
}

h2, h3, h4 {
    font-family: var(--font-corps);
    font-weight: 700;
}

h2 {
    font-size: var(--corps);
    margin-bottom: var(--space-md);
    padding-bottom: var(--space-xs);
    display: inline-block;
}

h3 {
    font-size: var(--text-xl);
    margin-bottom: var(--space-sm);
}

p {
    margin-bottom: var(--space-md);
}

strong {
    font-weight: 700;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--or-vieilli);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.u-sans-defilement {
    overflow: hidden;
}

.noscroll {
    overflow: hidden;
    height: 100vh; 
}