@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Playfair+Display:wght@400;700&display=swap');

:root {
  --beige-claire: #f5f0e8;
  --beige: #e3d5c3;
  --marron-fonce: #4b2f23;
  --or-vieilli: #c9a15d;
  --vert-sapin: #095228;
  --rouge-accent: #e55b5b;

  --font-titre: 'Playfair Display', serif;
  --font-corps: 'Montserrat', sans-serif;

  --gros-titre: 40px;      
  --autres-titres: 32px;     
  --corps: 16px;            
  --corps-gras: 16px;       
  --sous-titre: 16px; 
  
  --text-sm: 14px;
  --text-xl: 24px;  

  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 48px;
  --space-3xl: 64px;
  --space-4xl: 96px;

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-full: 50px; 
}