
.badge {
    display: inline-block;
    background-color: var(--beige); 
    padding: 10px 30px;
    border-radius: 50px; 
    font-family: var(--font-corps);
    font-weight: 700;
    text-transform: uppercase;
    font-size: var(--text-lg);
    letter-spacing: 1px; 
    color: var(--vert-sapin);
}


.badge--gold {
    color: var(--or-vieilli);
}

.badge--small {
    font-size: var(--text-base);
    padding: 8px 24px;
}