.en-tete {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: var(--space-md) var(--space-lg);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    z-index: 100;
    
    background-color: var(--beige-claire);
}

.en-tete__logo {
    height: 50px;
    width: auto;
}

.en-tete__lien {
    position: relative;
    z-index: 101;
}