/* =========================================
   LAYOUT : EN-TÊTE (HEADER)
   ========================================= */

/* Fichier : src/css/layout/header.css */

.en-tete {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px; /* Hauteur fixe */
    padding: 0 var(--space-md);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    z-index: 100;
    background-color: var(--beige-claire);
    
    /* AJOUT DE L'OMBRE ICI */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.en-tete__lien {
    display: flex;
    align-items: center;
    /* Sécurité pour éviter tout décalage */
    margin: 0;
    padding: 0;
}

.en-tete__logo {
    /* TAILLE FORCÉE : Vraiment petit */
    height: 12px; 
    width: auto;
    display: block;
}

.en-tete__bouton-menu {
    /* Empêche le bouton d'être écrasé */
    flex-shrink: 0;
}