
.en-tete {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 0 var(--space-md);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    z-index: 100;
    background-color: var(--beige-claire);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.en-tete__lien {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.en-tete__logo {
    height: 12px; 
    width: auto;
    display: block;
}

.en-tete__bouton-menu {
    flex-shrink: 0;
}