.bouton,
.bouton--primaire,
.bouton--envoi,
.bouton--achat,
button[type="submit"] {
    display: inline-block;
    background-color: var(--rouge-accent); 
    color: var(--beige-claire);
    
    font-family: var(--font-corps);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 14px 32px;
    
    border-radius: var(--radius-full);
    border: none;
    
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: var(--text-base);
    text-align: center;
}

.bouton:hover,
.bouton--primaire:hover,
.bouton--envoi:hover,
.bouton--achat:hover,
button[type="submit"]:hover {
    background-color: var(--rouge-accent); 
    transform: translateY(-2px);
}



.bouton-haut {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000; 
    width: 50px;
    height: 50px;
    background-color: transparent; 
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 0;  
    display: flex;
    justify-content: center; 
    align-items: center;     
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 0.4s ease;
}

.bouton-haut.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.bouton-haut:hover {
    background-color: transparent; 
    transform: translateY(-5px);
}

.bouton-haut__icone {
    width: 40px;
    height: 40px;
    display: block;
    filter: brightness(0) invert(1);
}