.bouton,
.bouton--primaire,
.bouton--envoi,
.bouton--achat,
button[type="submit"] {
    display: inline-block;
    background-color: var(--rouge-accent); 
    color: var(--beige-claire);
    
    font-family: var(--font-corps);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 14px 32px;
    
    border-radius: var(--radius-full);
    border: none;
    
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: var(--text-base);
    text-align: center;
}

.bouton:hover,
.bouton--primaire:hover,
.bouton--envoi:hover,
.bouton--achat:hover,
button[type="submit"]:hover {
    background-color: var(--rouge-accent); 
    transform: translateY(-2px);
}