.menu {
    position: fixed;
    inset: 0;
    background-color: var(--marron-fonce);
    z-index: 90;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--space-xl);
    
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: all 0.4s ease-in-out;
}

.menu[hidden] {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    pointer-events: none;
}

.menu__liste {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}

.menu__lien {
    font-family: var(--font-titre);
    font-size: var(--gros-titre);
    color: var(--beige-claire);
    text-decoration: none;
}

.menu__lien:hover,
.menu__lien[aria-current="page"] {
    color: var(--or-vieilli);
}

.en-tete__bouton-menu {
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 101;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}

.bouton-menu__barre {
    width: 100%;
    height: 3px;
    background-color: var(--marron-fonce);
    border-radius: var(--radius-sm);
    transition: all 0.3s ease;
}

.en-tete__bouton-menu[aria-expanded="true"] .bouton-menu__barre {
    background-color: var(--beige-claire);
}

.en-tete__bouton-menu[aria-expanded="true"] .bouton-menu__barre:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}
.en-tete__bouton-menu[aria-expanded="true"] .bouton-menu__barre:nth-child(2) {
    opacity: 0;
}
.en-tete__bouton-menu[aria-expanded="true"] .bouton-menu__barre:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}